<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Builder.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Builder.Presentation.Properties.Settings>
      <setting name="AbilitiesGenerationOption" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Accent" serializeAs="String">
        <value>Aurora Default</value>
      </setting>
      <setting name="AdditionalCustomDirectory" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="AllowEditableSheet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplyDefaultSourceRestrictionsOnNewCharacter"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoNavigateNextSelectionWhenAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Bundle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CharacterPanelAbilityScoresExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CharacterPanelQuickActionsExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CharacterPanelSavingThrowsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CharacterPanelSkillsExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CharacterPanelStatisticsExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CharactersCollectionSize" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="CharacterSheetAbilitiesFlipped" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CharacterSheetOpenOnSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConfigurationUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultFontSize" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="DefaultSourceRestrictions" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="DisplayRemoveLevelConfirmation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplaySelectionExpanderColumnHeaders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DocumentsRootDirectory" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GenerateSheetOnCharacterChangedRegistered" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeItemcards" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeSpellcards" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaximumAbilityBaseScore" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MinimumAbilityBaseScore" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Patreon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PlayerName" serializeAs="String">
        <value>Player One</value>
      </setting>
      <setting name="QuickSearchBarEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RequestAddAttackWhenEquippingWeapon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchMissingSourceOnline" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectionExpanderGridRowSize" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="SheetDescriptionAbbreviateUsage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SheetFormattingActionSuffixBold" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SheetFormFillable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SheetIncludeAttackCards" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SheetIncludeFeatureCards" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SheetIncludeFormatting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SheetIncludeItemCards" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SheetIncludeNonPreparedSpells" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SheetIncludeSpellCards" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SheetStartAttackCardsOnNewPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SheetStartFeatureCardsOnNewPage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SheetStartItemCardsOnNewPage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SheetStartSpellCardsOnNewPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShellWindowHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="ShellWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShellWindowState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShellWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShellWindowWidth" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="StartupCheckForContentUpdated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartupCheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartupLoadCustomFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Aurora Dark</value>
      </setting>
      <setting name="UseDefaultAbilityScoreMaximum" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseLegactBackgroundPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseLegacyDetailsPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseLegacySpellcastingPage" serializeAs="String">
        <value>False</value>
      </setting>
    </Builder.Presentation.Properties.Settings>
  </userSettings>
</configuration>
